Notebook containing exploratory data analysis of various financial returns.

In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import kurtosis

In [25]:
# data read in and adjustment
sp500_raw_data = pd.read_csv("./data/all_stocks_5yr.csv")
sp500_index_data = pd.read_csv("./data/^GSPC.csv")
btc_data = pd.read_csv("./data/GDAX-USD.csv")

sp500_raw_data.index = sp500_raw_data["date"].astype('datetime64[ns]') # set index to dates
sp500_raw_data.drop(columns=['date'],inplace=True) # drop extra Date column

sp500_index_data.index = sp500_index_data["Date"].astype('datetime64[ns]')
sp500_index_data.drop(columns=['Date'],inplace=True)

btc_data.index = btc_data["Date"].astype('datetime64[ns]')
btc_data.drop(columns=['Date'],inplace=True)

KeyError: 'Date'

In [24]:
sp500_data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-04-10,2638.409912,2665.449951,2635.780029,2656.870117,2656.870117,3543930000
2018-04-11,2643.889893,2661.429932,2639.250000,2642.189941,2642.189941,3020760000
2018-04-12,2653.830078,2674.719971,2653.830078,2663.989990,2663.989990,3021320000
2018-04-13,2676.899902,2680.260010,2645.050049,2656.300049,2656.300049,2960910000
2018-04-16,2670.100098,2686.489990,2665.159912,2677.840088,2677.840088,3019700000

In [16]:
temp = sp500_data['Date'].astype('datetime64[ns]')

In [17]:
temp

0    2018-04-10
1    2018-04-11
2    2018-04-12
3    2018-04-13
4    2018-04-16
5    2018-04-17
6    2018-04-18
7    2018-04-19
8    2018-04-20
9    2018-04-23
10   2018-04-24
11   2018-04-25
12   2018-04-26
13   2018-04-27
14   2018-04-30
15   2018-05-01
16   2018-05-02
17   2018-05-03
18   2018-05-04
19   2018-05-07
20   2018-05-08
21   2018-05-09
Name: Date, dtype: datetime64[ns]