Notebook containing exploratory data analysis of various financial returns.

In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import kurtosis

In [26]:
# data read in and adjustment
sp500_raw_data = pd.read_csv("./data/all_stocks_5yr.csv")
sp500_index_data = pd.read_csv("./data/^GSPC.csv")
btc_data = pd.read_csv("./data/GDAX-USD.csv")

sp500_raw_data.index = sp500_raw_data["date"].astype('datetime64[ns]') # set index to dates
sp500_raw_data.drop(columns=['date'],inplace=True) # drop extra Date column

sp500_index_data.index = sp500_index_data["Date"].astype('datetime64[ns]')
sp500_index_data.drop(columns=['Date'],inplace=True)

btc_data.index = btc_data["Date"].astype('datetime64[ns]')
btc_data.drop(columns=['Date'],inplace=True)

In [27]:
sp500_raw_data.head()

             open   high    low  close    volume Name
date
2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL

In [29]:
len(sp500_index_data)

22

In [17]:
temp

0    2018-04-10
1    2018-04-11
2    2018-04-12
3    2018-04-13
4    2018-04-16
5    2018-04-17
6    2018-04-18
7    2018-04-19
8    2018-04-20
9    2018-04-23
10   2018-04-24
11   2018-04-25
12   2018-04-26
13   2018-04-27
14   2018-04-30
15   2018-05-01
16   2018-05-02
17   2018-05-03
18   2018-05-04
19   2018-05-07
20   2018-05-08
21   2018-05-09
Name: Date, dtype: datetime64[ns]